a,
h1,
h2,
h3,
h4,
p,
ul,
body {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.navMain {
  font-family: "Maven Pro", sans-serif;
  font-weight: 600;
  position: relative;
}

.navMain .logo,
.modo {
  font-size: 1.5rem;
}

.modo img {
  max-width: 100%;
}

.navMain .lista-principal {
  font-size: 1.2rem;
}

.icon {
  padding: 7px;
  border: 1px solid #006eff;
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  right: 100px;
}

.mainIntroduction {
  font-family: "Maven Pro", sans-serif;
  color: #3d3d3d;
}

.mainIntroduction h1 {
  font-size: 3rem;
  font-weight: 600;
}

.mainIntroduction p:first-child {
  font-size: 0.9rem;
  font-weight: 600;
}

.mainIntroduction p:nth-last-child(2) {
  max-width: 55ch;
  font-weight: 500;
}

.mainImgDiv {
  max-width: 30%;
}

.buttons a {
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
}

.buttons .btn-cv {
  background-color: #006eff;
}

.buttons .btn-pg:hover {
  background-color: #006eff;
  transition: 0.4s;
}

.cartoes-projeto {
  font-family: "Maven Pro", sans-serif;
  font-weight: 400;
  color: #3d3d3d;
}

.skills p {
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  color: #3d3d3d;
}

.project h2,
.skills h2,
.resumo h2,
.contato h2 {
  font-size: 2.5rem;
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
  color: #3d3d3d;
}

.exp-detail {
  background: linear-gradient(to right, #ececec 80%, #ffc400 50%);
}

.social .social-text {
  font-size: 1.5rem;
  font-family: "Maven Pro", sans-serif;
  font-weight: 600;
  color: #3d3d3d;
}

.social .social-adress {
  font-size: 1.2rem;
  font-family: "Maven Pro", sans-serif;
}

.form input {
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
}

.form textarea {
  font-family: "Maven Pro", sans-serif;
  resize: none;
}

.botao-form button {
  font-family: "Maven Pro", sans-serif;
  font-weight: 600;
}

.exp-detail {
  font-family: "Maven Pro", sans-serif;
}

.exp-detail h4 {
  font-weight: 700;
}

.date,
.empresa {
  font-weight: 500;
}

/* COLOR */

.navMain a {
  color: #006eff;
}

/* DETALHES */

.contato {
  position: relative;
}

.contato::after {
  content: "";
  width: 1000px;
  height: 1px;
  background: rgb(216, 216, 216);
  position: absolute;
  top: 0;
  left: 10;
}

.botao-form .btn:hover {
  background: #e6b208 !important;
}

/* RESPONSIVIDADE */

/* Break 1400 */
@media (max-width: 1400px) {
  .exp-detail {
    background: linear-gradient(to right, #ececec 75%, #ffc400 50%);
  }

  .contato .social {
    text-align: center;
  }

  .contato-content {
    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .icon {
    right: 0px;
  }
}

/* Break 992 */
@media (max-width: 992px) {
  .contato::after {
    display: none;
  }

  .exp-detail {
    width: 400px;
    gap: 5px;
    background: #ececec;
  }

  .exp-detail .empresa span {
    display: none;
  }

  .exp-detail .date {
    justify-content: start !important;
  }

  .mainImgDiv {
    max-width: 100%;
  }

  .navMain button {
    border: 2px solid #006eff;
    border-radius: 30px;
    padding: 10px;
  }

  .navMain .lista-principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding-top: 25px;
  }

  .lista-principal a {
    font-size: 1rem;
    border: 1px solid #006eff;
    border-radius: 40px;
    padding: 10px 10px !important;
  }

  .icon {
    right: -5px;
    top: 26px;
  }
}

@media (max-width: 768px) {
  .main-textos {
    text-align: center;
  }

  .mainIntroduction .col-7 {
    width: 500px;
  }

  .main-textos p {
    padding: 0px !important;
  }

  .mainIntroduction .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .mainImgDiv {
    display: none;
  }

  .cartoes-projeto {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: start !important;
  }

  .scrollzin::-webkit-scrollbar {
    height: 15px;
  }

  .scrollzin::-webkit-scrollbar-thumb {
    background: #006eff;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    border-radius: 10px;
  }

  .navMain .lista-principal {
    flex-direction: column;
    justify-content: end;
    text-align: end;
    gap: 20px;
  }

  .navMain {
    padding-bottom: 0px !important;
  }

  .lista-principal a {
    font-size: 1rem;
    border: 1px solid #006eff;
    border-radius: 40px;
    padding: 10px 10px !important;
  }

  .mainIntroduction {
    padding-top: 30px !important ;
  }

  .form form {
    padding: 0px !important;
  }
}

/* SCRIPT CLASSES */

.darkMode {
  background: rgb(31, 31, 31);
  transition: 0.5s;
}

.textDarkMode {
  color: #ececec !important;
}

.show-off {
  display: none;
}

.borderDark {
  border-color: #e6b208 !important;
}

.bg-darkMode {
  background-color: #f0b802 !important;
}

.scrollzin-dark::-webkit-scrollbar {
  height: 15px;
}

.scrollzin-dark::-webkit-scrollbar-thumb {
  background: #006eff;
  border-top: 4px solid rgb(31, 31, 31);
  border-bottom: 4px solid rgb(31, 31, 31);
  border-radius: 10px;
}

.bg-socialMedia {
  border-radius: 20px;
  background: #dbdbdb;
}
